<div>
    <h1>
        {{title}}
    </h1>
</div>
<div>
    {{#if products.length}}
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
            {{#each products}}
                <tr>
                    <td>{{this.title}}</td>
                    <td>{{this.price}}</td>
                    <td><img
                            src="{{this.thumbnail}}"
                            alt="imagen del producto"
                        /></td>
                </tr>
            {{/each}}
        </table>
    {{else}}
        <h3>No hay productos agregados!</h3>
    {{/if}}
</div>