<div>
    <h1>
        {{title}}
    </h1>
</div>
<div>
    {{#if products.length}}
        <table id="productsTable">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Code</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Category</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <th scope="col">Thumbnail</th>
                </tr>
            </thead>
            {{#each products}}
                <tbody>
                    <tr>
                        <td>{{this.id}}</td>
                        <td>{{this.title}}</td>
                        <td>{{this.price}}</td>
                        <td>{{this.code}}</td>
                        <td>{{this.stock}}</td>
                        <td>{{this.category}}</td>
                        <td>{{this.description}}</td>
                        <td>{{this.status}}</td>
                        <td><img
                                src="{{this.thumbnail}}"
                                alt="imagen del producto"
                            /></td>
                    </tr>
                </tbody>
            {{/each}}
        </table>
    {{else}}
        <h3>No hay productos agregados!</h3>
    {{/if}}
</div>
<div>
    <div>
        <form id="formDelete">
            <h3 class="mb-5">Delete a Product</h3>
            <input
                type="number"
                required
                id="deleteProd"
                name="deleteProd"
                placeholder="Ingrese el id"
            />
            <input type="submit" value="Eliminar" />
        </form>
    </div>
    <div>
        <form
            id="addProduct"
            method="POST"
            action="/realTimeProducts"
            enctype="multipart/form-data"
        >
            <h3>Add a Product</h3>
            <input
                type="text"
                required
                id="title"
                name="title"
                placeholder="Ingrese el nombre"
            />
            <input
                type="number"
                required
                id="price"
                name="price"
                placeholder="Ingrese el precio"
            />
            <input
                type="text"
                required
                id="code"
                name="code"
                placeholder="Ingrese el code"
            />
            <input
                type="number"
                required
                id="stock"
                name="stock"
                placeholder="Ingrese el stock"
            />
            <input
                type="text"
                required
                id="category"
                name="categoty"
                placeholder="Ingrese la categoria"
            />
            <input
                type="text"
                required
                id="description"
                name="description"
                placeholder="Ingrese la descripcion"
            />
            <label class="switch">
                <input type="checkbox" name="status" id="status" value="true" />
                <span></span>
            </label>
            Status
            <input
                type="file"
                name="thumbnail"
                id="thumbnail"
                placeholder="Ingrese imagen"
            /><br />
            <input type="submit" value="Cargar" />
        </form>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="../public/realTimeProducts.js"></script>